@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
table,td{
  border: solid;
  color: rgb(235, 193, 16);
}
.seat{
  background-color: rgb(57, 231, 105);
}
h1{
  text-align: center;
}
nav{
  background-color: rgb(0, 0, 0);
}
body{
  background-color: rgb(0, 0, 0);
  color: rgb(235, 193, 16);
  font-family: 'cwTeXYen', sans-serif;
}
nav ul li.active {
  background-color: rgb(68, 47, 3);
}
.card{
  background-color: rgb(56, 56, 56);
}
img.movieImg{
  width: 500px;
  margin-left: 11%;
}
div.content{
  border: solid;
  font-size: 14pt;
}
a.book-btn{
  margin-right: 10px;
}
.btn {
  font-size: 15pt;
  font-weight: bold;
}
div.toplist li a{
  font-size: 14pt;
}
.btn{
  background-color: rgb(235, 193, 16);
  color: rgb(0, 0, 0);
}
.btn:focus,.btn:hover{
  background-color: rgb(255, 130, 0);
}
div #booker_detail{
  margin-top: 20px;
}
img.color_block{
  border: solid 3px;
}
div .card-content ,.card-action{
  font-size: 13pt;
}
div.wrapper{
  width: 821px;
  margin:0 auto;
}
img.logo{
  width:50px;
}
img#movie_img{
  margin: 10px;
}
